{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="header">
        {% include "_navBar.html.twig" %}
        <div class="container" id="haut">
            <div class="mx-auto">
                <h2 class="registration_title text-center mt-5">Connexion</h2>
                <div class="row">
                    <div class="col-md-3 mx-auto mt-4 login_box">
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    Vous êtes connecté en tant que  {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                                </div>
                            {% endif %}

                            <label for="inputUsername" class="text-center mt-3 mb-3 login_label">Nom</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                            <label for="inputPassword" class="text-center mt-3 mb-3 login_label">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>

                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >

                            {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            #}
                            <div class="login_btn_line mt-3 mb-3 d-flex">
                                <button class="btn-primary login_btn" type="submit">Connexion</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
