<section class="d-flex flex-row justify-content-center flex-wrap home_tricks" id="bas" >
    {% for trick in tricks %}
        <div class="card m-4 text-white bg-secondary mb-3">
            <img class="card-img-top" src="{{ trick.mainPicture.url }}" alt="{{ trick.mainPicture.name }}">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ path('trick.show', {'id' : trick.id, 'slug' : trick.slug, 'page' : 1 }) }}">{{ trick.name }}</a>
                    <a href="{{ path('trick.edit', {'id' : trick.id}) }}">
                        <img class="icone_editer" src="{{ asset('build/edit.png') }}" alt="Editer"> 
                    </a>
                    <a href="{{ path('trick.delete', {'id' : trick.id}) }}">
                        <img class="icone_effacer" src="{{ asset('build/effacer.png') }}" alt="Effacer"> 
                    </a>
                </h5>
            </div>
        </div>
    {% endfor %}
</section>
<div class="button">
    {% if not page == 0 %}
        <div class="row">
            <div class="mx-auto">
                <a href="{{ path('tricks.more', { page_var : page }) }}" class="btn btn-primary">Plus de tricks</a>
            </div>
            <div class ="arrow">
                <a href="#haut"><img class="arrow_high" src="{{ asset('build/fleche_haut.png') }}" alt="Fleche haut"></a>
            </div>
        </div>
    {% endif %}
</div>