{{form_start(form)}}

    <div class="d-flex flex-row justify-content-start align-items-end">
        <div class="w-50 mb-3 mr-5">
            {{ form_label(form.name, FALSE ) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="w-50">
            {{form_row(form.category)}}
        </div>
    </div>

    <div class="row edit_form_descritpion w-100">
        <div class="col-md-12 mb-3">
            {{ form_label(form.description, '') }}
            {{ form_widget(form.description,{ 'attr': {'rows': '7'} }) }}
        </div>
    </div>

    <div class="row pb-4 mt-2">
        <div class="mr-5 col-md-21">
            {{ form_widget(form.save) }}
        </div>
        <div class="col-md-4">
            {{ form_widget(form.saveAndAdd) }}
        </div>
    </div>

{{form_end(form)}}