{{form_start(form2)}}

    {# formulaire trick #}
    <div class="mx-auto">

        <div class="row">
            <div class="offset-md-2 col-md-4 mb-2">
                {{ form_row(form2.name) }}
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-8 mb-2">
                {{ form_row(form2.description) }}
            </div>
        </div>

        <div class="row">
            <div class="offset-md-2 col-md-3 mb-2">{# Catégorie #}
                {{ form_row(form2.category) }}
            </div>
            <div class="col-md-4 offset-md-1 border border-primary rounded">{# Media #}
                
                <div class="custom-file mb-5"> {# Images #}
                    {{ form_label(form2.pictureFiles, 'Pictures', {'attr': {'class': 'custom-file-label'}}) }}
                    {{ form_widget(form2.pictureFiles) }}
                </div>
               
                <div> {# Videos #}
                    {{ form_row(form2.videoFile) }}
                </div>
                <p><small><em>Ex. Lien vidéo : https://www.youtube.com/embed/UNItNopAeDU</em></small></p>
            </div>
        </div>
        <div class="row justify-content-around align-items-center mt-3">
        {# Boutons valider #}
            <div class="col-6 text-right mb-5">
                <input type ="submit" class="btn btn-primary button-edit-trick" value="Valider">
            </div>
            <div class="col-6 text-left  mb-5">
                <a class="btn btn-primary button-edit-trick" href={{ path('home') }} role="button">Annuler</a>
            </div>
        </div>
    </div>
{{form_end(form2)}}

