{{form_start(form)}}

    {% if app.request.attributes.get('_route') == 'admin.trick.edit' %}
        {# Photos et vidéos #}
            <div class="edit_medias mt-3">
                {% for picture in trick.pictures %}
                    <div class="edit_cards m-2">
                        <img class="edit_card_img show_picture" src="{{ picture.file }}" alt="image">
                        
                        <div class="edit_icones mt-2 mr-2">
                            <a href="{{ path('admin.picture.edit', {idPicture : picture.id, id : trick.id}) }}">
                                editer
                            </a>  

                            <a href="{{ path('admin.picture.delete', {id : picture.id}) }}"
                                data-delete  data-token="{{csrf_token('delete' ~ picture.id) }}">
                                Supprimer
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
    {% endif %}

    <div class="d-flex flex-row justify-content-start align-items-end">
        <div class="w-50 mb-3 mr-5">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="w-50">
            {{form_row(form.category)}}
        </div>
    </div>

    <div class="row edit_form_descritpion w-100">
        <div class="col-md-12 mb-3">
            {{ form_row(form.description) }}
        </div>
    </div>

{{form_end(form)}}