{{form_start(form2)}}

    {# formulaire trick #}
    <div class="mx-auto">

        <div class="row">
            <div class="col-md-5 mb-2">
                {{ form_row(form2.name) }}
            </div>
        </div>

         <div class="row">
            <div class="col-md-12 mb-3">
                {{ form_row(form2.description) }}
            </div>
        </div>

        <div class="d-flex flex-row justify-content-center flex-wrap">
            {# Catégorie #}
            <div>
                {{ form_row(form2.category) }}
            </div>
        
            {# Media #}
            <div class="col-md-6 offset-md-1 border border-primary rounded">
                {# Images #}
                <div>
                    {{ form_row(form2.pictureFiles) }}
                </div>
                {# Videos #}
                <div>
                    {{ form_row(form2.videoFile) }}
                </div>
                <p><small><em>Ex. Lien vidéo : https://www.youtube.com/embed/UNItNopAeDU</em></small></p>
            </div>
            
            {# Boutons valider #}
            <div>
                <input type ="submit" class="btn btn-primary edit-btn-trick-valider" value="Valider">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
            </div>
        </div>
    </div>
{{form_end(form2)}}

