
    <div class="unCommentaire row justify-content-center mb-3">
        <div class="col-md-1">
            {% if comment.user.userPicture %}
                <img class="photoProfil" src="{{ vich_uploader_asset(comment.user) }}" alt="comment.user.username">
            {% else %}
                <img class="photoProfil" src="{{ '/media/tricks/empty.jpg' }}" alt="">
            {% endif %}
        </div>

        <div class="col-md-10 ml-2">
            <div class="ligne_date font-weight-bold">
                Le {{ comment.createdAt | date("m/d/Y à H:i") }}h
            </div>
            <div class="ligne_content text-justify mt-1">
                {{ comment.content | raw }}
            </div>
        </div>

    </div>
    {# button more #}
    <div class="show_more_comment_btn mx-auto mb-3 d-flex justify-content-center">
        {% if buttonMore %}
            <a id='pathToController' href="{{ path('comment.more', { 'id' : trick.id, 'nbComments' : nbComments }) }}">
                <img class="show_more_comment_btn" src="{{ asset('build/plus.png') }}" alt="Plus">
            </a>
        {% endif %}
    </div>
   

