<section class="d-flex flex-row justify-content-center flex-wrap home_tricks" id="bas" >
    {% for trick in tricks %}
        <div class="card m-4 text-white bg-secondary mb-3">
            <img class="card-img-top" src="{{ asset(trick.mainPicture) }}" alt="">
            <div class="card-body d-flex justify-content-between">
                <div class="card-title">
                    <a href="{{ path('trick.show', {slug:trick.slug, id:trick.id,  page:1 }) }}">{{ trick.name }}</a>
                </div>
                 <div class="liens">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin.trick.edit', {id : trick.id}) }}">
                            <i class="fas fa-pencil-alt mt-2"></i>
                        </a>
                        <form class="tricks_delete_form" method="post" action="{{ path('admin.trick.delete', {id : trick.id}) }}" 
                            onsubmit="return confirm('Voulez-vous supprimer ce trick ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                            <button class="btn">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</section>
<div class="button">
    {% if not page == 0 %}
        <div class="row">
            <div class="mx-auto">
                <a href="{{ path('tricks.index', { page_var : page }) }}">
                    <img class="icone_plus" src="{{ asset('build/plus.png') }}" alt="Plus"> 
                </a>
            </div>            
            <div class ="arrow">
                <a href="#haut"><img class="arrow_high" src="{{ asset('build/fleche_haut.png') }}" alt="Fleche haut"></a>
            </div>
        </div>
    {% endif %}
</div>