<section class="d-flex flex-row justify-content-center flex-wrap home_tricks" id="tricksDisplay" >
    {% for trick in tricks %}
        <div class="card text-white bg-secondary" id="BlocTrickToDelete">
            {% if trick.mainFileName %}
                    <img src="{{ vich_uploader_asset(trick, 'mainImageFile') }}" alt="{{ trick.name }}" alt="card-img-top" class="card-img-top"/>
            {% else %}
                    {% if trick.picture %}
                        <img src="{{ vich_uploader_asset(trick.picture, 'imageFile') }}" alt="{{ trick.name }}" class="card-img-top">
                    {% else %}
                        <img src="{{ '/media/tricks/empty.jpg' }}" alt="{{ trick.name }}" class="card-img-top">
                    {% endif %}
            {% endif %}
            <div class="card-body d-flex justify-content-between">
                <div class="card-title">
                    <a href="{{ path('trick.show', {slug:trick.slug, id:trick.id, nbComments:3 }) }}">{{ trick.name }}</a>
                </div>
                <div class="liens">
                    {% if app.user %}
                        <a href="{{ path('admin.trick.edit', {id : trick.id}) }}">
                            <i class="fas fa-pencil-alt mt-2"></i>
                        </a>
                        <form class="tricks_delete_form" method="post" action="{{ path('admin.trick.delete', {id : trick.id}) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="token" value="{{ csrf_token('delete' ~ trick.id) }}">
                            <button id="delete-trick" class="btn"><i class="far fa-trash-alt"></i></button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% if button %}
    <div class="more-comment-button" id="button-more-comments">
        <div class="row">
            <div class="mx-auto">                   
                <a href="{{ path('tricks.index.more', {tricksDisplay : tricksDisplay}) }}">
                    <img class="icone_plus" src='{{ asset("build/plus.png") }}' alt="Plus">
                </a>
            </div>   
        </div>
    </div>     
{% endif %}
