{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="haut">
        <div class="show_page mx-auto mt-3">
    
            {# Image à la une #}
            <div class="show_main_picture"

                {% if trick.mainFileName %}
                    style="background-image: url({{ vich_uploader_asset(trick, 'mainImageFile') }});"
                {% else %}
                    {% if trick.picture %}
                        style="background-image: url({{ vich_uploader_asset(trick.picture, 'imageFile') }} );"
                    {% else %}
                        style="background-image: url({{ '/media/tricks/empty.jpg' }} );"
                    {% endif %}
                {% endif %}
            >

                {# boutons d'édition de l'image à la une #}
                <div class="d-flex justify-content-end">
                    {% if app.user %}
                        <div class="d-flex flex-row justify-content-end show_edit_icones  ">
                            <a id="btn_edit_main_picture" class="edit" href="#">
                                <i class="fas fa-pencil-alt mr-2"></i> 
                            </a>                            
                            <a href="{{ path('admin.mainPicture.delete', {'id' : trick.id}) }}">
                                <i class="far fa-trash-alt mr-2"></i> 
                            </a>
                        </div>
                    {% endif %}
                </div>

                {# Nom du trick #}
                <div class="show_page_name d-flex flex-row justify-content-center align-items-center">
                    <h1 id="main_trick_name">{{ trick.name }}</h1>

                    {# Formulaire d'image à la une #}
                    <div id="main_picture_upload_form" class="main_picture_edit_form" style="display: none;">
                        {{ form_start(form1) }}
                            {{ form_row(form1.mainImageFile) }}
                            <button type'submit' class="btn btn-primary">Valider</button>
                        {{ form_end(form1) }}
                    </div>
                </div>
            </div>

            {# Photos et vidéos #}
             <div class="d-flex flex-wrap justify-content-around align-items-center">{# Photos et vidéos #}
                {# Images #}
                {% if trick.pictures %} 
                    {% for picture in trick.pictures %}
                        <div class="edit_cards m-2">
                            <img class="edit_card_img show_picture" src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="image">
                        </div>
                    {% endfor %}
                {% endif %}

                {# Vidéos #}
                {% if trick.videos %}
                    {% for video in trick.videos %}
                        <div class="edit_cards m-2">
                            <iframe width="190" height="180" src="{{ video.link }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {# Description #}
            <div class="show_description mx-auto mt-3 mb-3 p-2 border border-light rounded">
                {{ trick.description | raw }}
            </div>

            {# Infos diverses #}
            <div class="show_div_info justify-content-center mx-auto">
                <div id="mel" class="show_info border rounded">
                    <span>mis en ligne le : {{ trick.createdAt | date("m/d/Y à H:i") }}h</span>
                </div>
                <div class="show_info border rounded">
                    <span>modifié le : <br >{{ trick.updatedAt | date("m/d/Y") }} à {{ trick.updatedAt | date("H:i") }}h</span>
                </div>
                <div class="show_info border rounded">
                    <span>Catégorie : <br >{{ trick.category.name}}</span>
                </div>
            </div>

            <div class="show_barre mx-auto"><hr></div>

            {# Formulaire de commentaires #}
            {% if app.user %}
                <div class="show_comment_form mx-auto">
                    {{ form_start(form2, {'method': 'POST'}) }}
                    <div class="row">
                        <div class="col-9">
                            {{ form_row(form2.content) }}
                        </div>
                        <div class="col-3">
                            <button type'submit' class="btn btn-success">Commenter</button>
                        </div>
                    </div>
                    {{ form_end(form2) }}
                </div>
                <div class="show_barre mx-auto"><hr></div>
            {% endif %}
            
            {# Commentaires #}
            {% if comments %}
                <section id="section_commentaires" class="show_commentaires mx-auto">
                    {% for comment in comments %}
                        <div class="unCommentaire row justify-content-center mb-1">
                            {% if comment.user.userPicture %}
                                <div class="col-md-1">
                                    <img class="photoProfil" src="{{ vich_uploader_asset(comment.user.userPicture, 'imageFile') }}" alt="comment.user.username">
                                </div>
                            {% else %}
                                <div class="col-md-1">
                                    <img class="photoProfil" src="{{ '/media/userPicture/emptyprofil.jpg' }}" alt="">
                                </div>
                            {% endif %}
                            <div class="ligne_date col-md-2 font-weight-bold">
                                Créé le : {{ comment.createdAt | date("m/d/Y à H:i") }}h
                            </div>
                            <div class="ligne_content col-md-8 border text-justify">
                                {{ comment.content | raw }}
                            </div>
                        </div>
                    {% endfor %}
                    {# button more #}
                    <div class="show_more_comment_btn mx-auto mb-3 d-flex justify-content-center">
                        {% if buttonMore %}
                            <a id='pathToController' href="{{ path('comment.more', { 'id' : trick.id, 'nbComments' : nbComments }) }}">
                                <img class="show_more_comment_btn" src="{{ asset('build/plus.png') }}" alt="Plus">
                            </a>
                        {% endif %}
                    </div>
                </section>
            {% endif %}               
        </div>
    </div>
{% endblock %}

{% block javascripts %}

<script>
    // Affichage formulaire changement image à la une
    $('#btn_edit_main_picture').click(function() { 
        $('#trick_name').fadeOut();
        $('#main_picture_upload_form').delay("slow").show('slow');      
    });

    // Gestion affichage des commentaires
     $(function () {
        $("#section_commentaires").on('click', ('#pathToController'), function(e) {
            e.preventDefault();
            var path = $("#pathToController").attr('href');
            jsonToken="";

            $.ajax({
                type: "POST",
                url: path,
                data: jsonToken,
                cache: false,
                contentType: false,
                processData: false,
                async: false,
                dataType: "html",
                error: function (err) {
                    console.error(err);
                },
                success: function (data) {
                    $('.show_more_comment_btn').remove();
                    $("#section_commentaires").append(data);
                },
                complete: function () {
                    console.log("Request finished.");
                }
            });
            
        });  
     })

       
</script>
{% endblock %}
 