{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="haut">
        <div class="show_page mx-auto mt-3">
    
            {# Image à la une #}
            <div id="visibility" class="show_main_picture d-flex flex-column" 
                style="background-image: url({{ asset(trick.mainPicture) }});"
            >
                {# boutons d'édition #}
                <div class="show_div_icones d-flex flex-row justify-content-end">
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="text-right d-flex flex-row justify-content-end">
                            <a id="btn_edit_main_picture" class="edit" href="#">
                                <i class="fas fa-pencil-alt mr-2"></i> 
                            </a>                            
                            <a href="{{ path('admin.mainPicture.delete', {'id' : trick.id}) }}">
                                <i class="far fa-trash-alt mr-2"></i> 
                            </a>
                        </div>
                    {% endif %}
                </div>
                
                {# Nom du trick #}
                <div id="titre_trick" class="show_div_titre d-flex flex-column justify-content-center align-items-center">
                    <div class="show_picture_title text-center">
                        <h1>{{ trick.name }}</h1>
                    </div>
                </div>
            </div>

            {# Photos et vidéos #}
            <div class="medias mt-3">
                {% for picture in trick.pictures %}
                    {% if picture.file %}
                        <img class="card-img-top show_picture" src="{{ picture.file }}">
                    {% endif %}
                {% endfor %}
            </div>
        
            {# Description #}
            <div class="show_description mx-auto mt-3 mb-3 p-2 border border-light rounded">
                {{ trick.description | raw }}
            </div>

            {# Infos diverses #}
            <div class="show_div_info justify-content-center mx-auto">
                <div id="mel" class="show_info border rounded">
                    <span>mis en ligne le : {{ trick.createdAt | date("m/d/Y à H:i") }}h</span>
                </div>
                <div class="show_info border rounded">
                    <span>modifié le : <br >{{ trick.updateAt | date("m/d/Y") }} à {{ trick.updateAt | date("H:i") }}h</span>
                </div>
                <div class="show_info border rounded">
                    <span>Catégorie : <br >{{ trick.category.name}}</span>
                </div>
            </div>

            <div class="show_barre mx-auto"><hr></div>

            {# Formulaire de commentaires #}
            {% if app.user %}
                <div class="show_comment_form mx-auto">
                    {{ form_start(form, {'method': 'POST'}) }}
                    <div class="row">
                        <div class="col-9">
                            {{ form_row(form.content) }}
                        </div>
                        <div class="col-3">
                            <button type'submit' class="btn btn-success">Commenter</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="show_barre mx-auto"><hr></div>
            {% endif %}
            
            {# Commentaires #}
            <section id="section_commentaires" class="show_commentaires mx-auto">
                {% for comment in comments %}
                    <div id="ligne_commentaire" class="row justify-content-center mb-1">
                        <div id="commentaire_date" class="col-md-3 font-weight-bold">
                            Créé le : {{ comment.createdAt | date("m/d/Y à H:i") }}h
                        </div>
                        <div id="commentaire_contenu" class="col-md-9 border text-justify">
                            {{ comment.content | raw }}
                        </div>
                    </div>
                {% endfor %}
            </section>

            {# button more #}
            {% if not nbComments == 0 %}
                <div class="show_more_comment_btn mx-auto mb-3 d-flex justify-content-center">
                    <a id='pathToController' href="{{ path('trick.show', { 'slug' : trick.slug, 'id' : trick.id, 'nbComments' : nbComments }) }}">
                        <img class="show_more_comment_btn" src="{{ asset('build/plus.png') }}" alt="Plus">
                    </a>
                </div>
            {% endif %}
            <span id="linkToController" data-path="{{ path('comment.more', { 'id' : trick.id, 'nbComments' : nbComments }) }}"></span>
           
        </div>
    </div>
{% endblock %}
{% block javascripts %}

<script>
    $('#btn_edit_main_picture').click(function() {  
        $('#main_picture_upload_form').show('slow');      
    });

    $(function() {

        $('#pathToController').click(function(e) {
            e.preventDefault();
            var path = $("#linkToController").attr("data-path");
            $.ajax({
                type: 'GET',    //envoie de la requête
                url: path,
                timeout: 3000,
                dataType: 'json',

                // réception du retour
                success: function(data) {    
                    var $content =(data.comments[0].content);
                    var $date = (data.comments[0].date);
                    var $heure = (data.comments[0].heure);
                    var $nbCommentaires = (data.comments[0].nbCommentaires);
                    var $section_commentaire = $('#section_commentaires');
                    var $commentaire_date = $("#commentaireDate")[0];
                    var $commentaire_contenu = $("#commentaire_contenu")[0];
                    var $ligne_commentaire = $('#ligne_commentaire').clone();

                    // Ajout du nouveau bloc de commentaire
                    $($section_commentaire).append($ligne_commentaire);       
                    var $ligneDate = $('#ligne_commentaire:last-child > #commentaire_date');
                    $ligneDate.text('Crée le : ' + $date + ' à ' + $heure + 'h');
                    var $contenu = $('#ligne_commentaire:last-child > #commentaire_contenu');
                    $contenu.text($content);

                    // Traitement affichage du bouton "plus"
                    if(!$nbCommentaires) {
                        $('.show_more_comment_btn').hide();
                    }
                },
                error: function() {
                    alert('La requête n\'a pas abouti');
                 }
            });    
        });  
    });
       
</script>
{% endblock %}
 