{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <section class="show_media">
            {% for picture in trick.pictures %}
                <img class="card-img-top show_picture" src="{{ picture.url }}" alt="">
            {% endfor %}
        </section>

        <section class="show_description mt-3">
            {{ trick.description | raw }}
        </section>

        <section class="row d-flex justify-content-center mt-2 show_div_info">
            <div class="col-md-3 show_info">
                <span>mis en ligne le : {{ trick.createdAt | date("m/d/Y à H:i") }}h</span>
            </div>
            <div class="col-md-3 show_info">
                <span>modifié le : {{ trick.updateAt | date("m/d/Y") }} à {{ trick.updateAt | date("H:i") }}h</span>
            </div>
            <div class="col-md-3 show_info">
                <span>Catégorie : {{ trick.category.name}}</span>
            </div>
        </section>

        <div class="comment_form row justify-content-center mt-3">
            {{ form_start(form, {'method': 'POST'}) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.content) }}
                </div>
                <div class="col">
                    <button type'submit' class="btn btn-success">Commenter</button>  
                </div>
            </div>
            {{ form_end(form) }}
        </div>

        <section class="commentaires">
            {% for comment in trick.comments %}
                <div class="row justify-content-center mb-3">
                    <div class="col-md-3 font-weight-bold">
                        Créé le : {{ comment.createdAt | date("m/d/Y à H:i") }}
                    </div>
                    <div class="col-md-6">
                        {{ comment.content | raw }}
                    </div>
                </div>
            {% endfor %}
        </section>

    </div>
{% endblock %}