{%extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center border">
        <div class="description">
            {{ trick.description | raw }}
        </div>
        <div class="row d-flex justify-content-center mt-2">
            <div class="col-md-3 border m-2">
                <p>mis en ligne le : <br />{{ trick.createdAt | date("m/d/Y à H:i") }}h</p>
            </div>
            <div class="col-md-3 border m-2">
                <p>modifié le : <br />{{ trick.modificationAt | date("m/d/Y") }} à {{ trick.modificationAt | date("H:i") }}h</p>
            </div>
            <div class="col-md-3 border m-2">
                <p>Catégorie : <br />{{ trick.category.name}}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}   
                    <button type'submit' class="btn btn-success">Ajouter commentaire</button>     
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <section class="commentaires">
            {% for comment in trick.comments %}
                <div class="row justify-content-center border mb-3">
                    <div class="col-md-3 h6 font-weight-bold mt-3">
                        Créé le : {{ comment.createdAt | date("m/d/Y à H:i") }}
                    </div>
                    <div class="col-md-8 h6">
                        {{ comment.content | raw }}
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}