{% extends 'base.html.twig' %}

{% block mainPicture %}
    {% include "pages/_mainPicture.html.twig" %}
{% endblock %}

{% block body %}
    <div class="show_page mx-auto" id="haut">
        {# Bouton affichage media #}
        <div class="btn-affichage-media">
            <a id="btn-affichage-media" class="btn btn-primary btn-affichage-media">Affichage media</a>
        </div>

        {# Photos et vidéos #}
        <div id="div-affichage-photos-videos">
            <div  class="d-flex flex-wrap justify-content-around align-items-center">
                {# Images #}
                {% if trick.pictures %} 
                    {% for picture in trick.pictures %}
                        <div class="edit_cards m-2">
                            <img class="edit_card_img show_picture" src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="image">
                        </div>
                    {% endfor %}
                {% endif %}

                {# Vidéos #}
                {% if trick.videos %}
                    {% for video in trick.videos %}
                        <div class="edit_cards m-2">
                            <iframe width="190" height="180" src="{{ video.link }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        {# Description #}
        <div class="show_description mx-auto mt-3 mb-2 p-2 ">
            {{ trick.description | raw }}
        </div>

        {# Infos diverses #}
        <div class="show_div_info justify-content-center mx-auto">
            <div id="mel" class="show_info border rounded">
                <span>mis en ligne le : {{ trick.createdAt | date("m/d/Y") }}</span>
            </div>
            <div class="show_info border rounded">
                <span>modifié le : <br >{{ trick.updatedAt | date("m/d/Y") }}</span>
            </div>
            <div class="show_info border rounded">
                <span>Catégorie : <br >{{ trick.category.name}}</span>
            </div>
        </div>

        <div class="show_barre mx-auto"><hr></div>

        {# Formulaire de commentaires #}
        {% if app.user %}
            {{ form_start(form2, {'method': 'POST'}) }}
                <div class="show-display-comment-form d-flex flex-row justify-content-center mx-auto">
                    <div class="mr-2 w-75">
                        {{ form_row(form2.content) }}
                    </div>
                    <div> 
                        <button type'submit' class="btn btn-success w-100 ">Commenter</button>
                    </div>
                </div>
            {{ form_end(form2) }}

        <div class="show_barre mx-auto"><hr></div>
        {% endif %}
        
        {# Commentaires #}
        {% if comments %}
            <section id="section_commentaires" class="show_commentaires mx-auto">
                <div class="mb-2">
                    {% for comment in comments %}
                        <div class="unCommentaire row justify-content-center mb-3">
                            {% if comment.user.userPicture %}
                                <div class="col-md-1">
                                    <img class="photoProfil" src="{{ vich_uploader_asset(comment.user) }}" alt="comment.user.username">
                                </div>
                            {% else %}
                                <div class="col-md-1">
                                    <img class="photoProfil" src="{{ '/media/tricks/empty.jpg' }}" alt="">
                                </div>
                            {% endif %}
                            <div class="ligne_date col-md-2 font-weight-bold">
                                Créé le : {{ comment.createdAt | date("m/d/Y à H:i") }}h
                            </div>
                            <div class="ligne_content col-md-8 border text-justify">
                                {{ comment.content | raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {# button more #}
                <div class="show_more_comment_btn mx-auto mb-3 d-flex justify-content-center">
                    {% if buttonMore %}
                        <a id='pathToController' href="{{ path('comment.more', { 'id' : trick.id, 'nbComments' : nbComments }) }}">
                            <img class="show_more_comment_btn" src="{{ asset('build/plus.png') }}" alt="Plus">
                        </a>
                    {% endif %}
                </div>
            </section>
        {% endif %}               
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
   
    // Gestion affichage des commentaires
    $(function () {
        $("#section_commentaires").on('click', ('#pathToController'), function(e) {
            e.preventDefault();
            var path = $("#pathToController").attr('href');
            jsonToken="";

            $.ajax({
                type: "POST",
                url: path,
                data: jsonToken,
                cache: false,
                contentType: false,
                processData: false,
                async: false,
                dataType: "html",
                error: function (err) {
                    console.error(err);
                },
                success: function (data) {
                    $('.show_more_comment_btn').remove();
                    $("#section_commentaires").append(data);
                },
                complete: function () {
                    console.log("Request finished.");
                }
            });
            
        });  
    })
</script>
{% endblock %}
 